.background-container {
    width: 90%;
    max-width: 850px;
    margin: 100px auto;
    padding: 40px 20px;
    background-image: radial-gradient(circle, #333 1px, transparent 0px);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.hero {
    max-width: 800px;
    padding: 20px;
}

.intro-text {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #cbacf9;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    /* margin-bottom: 20px; */
}

.highlight {
    color: #cbacf9;
    font-weight: 700;
}

.social-links {
    margin: 20px 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 400;
    transition: color 0.3s, transform 0.3s;
    font-size: 1rem;
}

.social-links a i {
    margin-right: 5px;
}

.social-links a:hover {
    color: #cbacf9;
    transform: scale(1.1);
}

.cta-button {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #a855f7;
    color: #a855f7;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: #a855f7;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .social-links a {
        display: block;
        margin: 10px 0;
    }

    .cta-button {
        width: 100%;
        padding: 12px 0;
    }
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 700;
    transition: color 0.3s;
}

.navbar nav a:hover {
    color: #a855f7;
}